## if문

In [ ]:
a = 10
if a > 5:
    print("a는 5보다 크다")
else:
    print("a는 5보다 작거나 같다")

a는 5보다 크다

### *elif문

In [ ]:
a = 10
if a > 10:
    print("a는 10보다 크다")
elif a > 5:
    print("a는 5보다 크다")
else:
    print("a는 5보다 작거나 같다")

a는 5보다 크다

## while문

In [ ]:
i = 0

while i < 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

### *break

while문 강제로 빠져나가기

In [ ]:
i = 0

while i < 10:
    print(i)
    i = i + 1
    if i == 5:
        break

0
1
2
3
4

## for문

In [ ]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

### *continue

for문 안의 문장을 수행하는 도중에 continue문을 만나면 아래 문장 실행 안함

In [ ]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

## *리스트 컴프리헨션

기존에 배운 문법으로 0부터 9까지 정수를 순서대로 가지고 있는 리스트를 생성하는 코드

In [ ]:
numbers = []
for i in range(10):
    numbers.append(i)

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

이러한 코드를 컴프리헨션으로 표기

In [ ]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[i * 2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
[i for i in range(10) if i % 2 == 0]

[0, 2, 4, 6, 8]

In [ ]:
[(x, y) for x in ["엽떡", "배떡", "죠떡"] for y in ["허니콤보", "통모짜핫도그"]]

[('엽떡', '허니콤보'),
 ('엽떡', '통모짜핫도그'),
 ('배떡', '허니콤보'),
 ('배떡', '통모짜핫도그'),
 ('죠떡', '허니콤보'),
 ('죠떡', '통모짜핫도그')]

## 함수

In [ ]:
ages = ["10대", "20대", "30대", "40대"]


def change_ages(text: str):
    return text[:2]


change_ages(ages[0])

'10'

## 내장함수

- int

  int형(정수형)으로 바꿔줌
- len

  길이 반환
- range

  특정 범위의 정수 배열 반환
- list

  list형으로 변환
- map

  리스트에 커스텀함수 매칭
- sum

  합계 반환
- max

  최댓값 반환
- min

  최솟값 반환

- str

  문자열로 변환

- type

  변수 유형 반환

In [ ]:
# int

ages = ["10대", "20대", "30대", "40대"]


def change_ages(text: str):
    return int(text[:2])


change_ages(ages[0])

10

In [ ]:
# len
len(ages)

4

In [ ]:
# range
range(10)

range(0, 10)

In [ ]:
# list
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# map

list(map(change_ages, ages))

[10, 20, 30, 40]

In [ ]:
# sum
sum(list(map(change_ages, ages)))

100

In [ ]:
# max
max(list(map(change_ages, ages)))

40

In [ ]:
# min
min(list(map(change_ages, ages)))

10

In [ ]:
# str
str(min(list(map(change_ages, ages))))

'10'

In [ ]:
# type
type(str(min(list(map(change_ages, ages)))))

str

## 연습문제

### 문제1. fruit_list를 생성하여 다음과 같은 지시를 따르시오.

1) 반복문을 사용하여 과일 이름을 key로 과일의 순서를 value로 갖는 fruit_dict를 생성하시오.

In [ ]:
fruit_list = ["오렌지", "사과", "딸기", "배", "수박"]

fruit_dict = {}
for i in range(len(fruit_list)):
    fruit_dict[fruit_list[i]] = i

fruit_dict

{'딸기': 2, '배': 3, '사과': 1, '수박': 4, '오렌지': 0}

### 문제2. fruit_dict를 사용하여 다음의 지시를 따라 fruit_list를 수정하시오.

1) map 함수를 사용하여 fruit_list의 과일이름을 fruit_dict의 숫자로 바꾸시오.

In [ ]:
def change_list(text: str):
    return fruit_dict[text]


fruit_list = list(map(change_list, fruit_list))

fruit_list

[0, 1, 2, 3, 4]

### 문제3. 숫자를 과일로 다시 뒤집기

In [ ]:
fruit_dict

{'딸기': 2, '배': 3, '사과': 1, '수박': 4, '오렌지': 0}

In [ ]:
fruit_dict = {value: key for key, value in fruit_dict.items()}

fruit_list = list(map(change_list, fruit_list))
fruit_list

['오렌지', '사과', '딸기', '배', '수박']